PORT=3001
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=lmc
DATABASE_USER=lmc
DATABASE_PASSWORD=super-secret-password
JWT_SECRET=change-me-please
ADMIN_EMAIL=admin@lmc.com
ADMIN_PASSWORD=Admin@123
ADMIN_NAME=Administrador LMC
